@media screen and (max-width: 390px) {
a {
  color: white;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 1.2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.found__item__post {
  display: flex;
  align-items: center;
  justify-content: center;    
  gap: 3rem;                  
}

.found__item__post__rev {
  flex-direction: row-reverse;
}


footer {

  display: flex;
 
  color: white;
  background-color: red;
  justify-content: center;
  align-items: center;
  position: absolute;

  align-content: center;
  height: 50px;
  gap: 1rem;
  width: 400px;
  left: 10px;
}
}




@media (max-width: 1280px) {
  a {
  color: white;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

header {
  width: 62.5rem;
  top: 0%;
  text-align: center;
  align-items: auto;
  
  background-color: red;
  
}

.found__item__post {
  display: flex;
  
  align-items: center;
  justify-content: center;    
  gap: 3rem;                  
}

.found__item__post__rev {
  flex-direction: row-reverse;
}


footer {

  display: flex;
 
  color: white;
  background-color: red;
  justify-content: center;
  align-items: center;
  position: absolute;

  align-content: center;
  height: 50px;
  gap: 1rem;
  width: 62.5rem;
  left: 0px;
}
}